@font-face {
    font-family:"Plain-light";
    src: url("./plain-light-webfont.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#load{
    height: 100%;
    width:100%;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
    color: whitesmoke;
    z-index: 999;
    position:fixed;
    overflow: hidden;
}
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 3vw;
}
.line h1{
    text-transform: uppercase;
    font-size: 6vw;
    font-family: "plain-light";
}
.line h2{
    font-size: 5.5vw;
    font-family: "plain-light";
    text-transform: uppercase;
    animation-name: ani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes ani{
    0%{
        font-family: 'Plain  Light';
    }
    100%{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
        color: transparent;
    }
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2vw;
}
#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: "plain-light";
}
#main{
    position:relative;
}
#page1{
    width: 100vw;
    height: 100vh;
    background-color: #151515;
}
#page1 #nav{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
    padding: 2.3vw 6vw;
}
#nav-part2{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
}
#nav-part2 a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1vw;
    font-family: "plain-light";
}
.ab{
    color: whitesmoke;
    overflow: hidden;
    display: flex;
    align-items: center;
}
#under{
    text-decoration: underline;
}
.ab h1{
    font-size: 6vw;
    font-family: "plain-light";
    text-transform: uppercase;
}
.brand__svg{
    color: whitesmoke;
}
#cursor{
    position: fixed;
    width: 1.5vw;
    height: 1.5vw;
    border: 2px solid whitesmoke;
    border-radius: 50%;
    z-index: 999;
    mix-blend-mode: difference;
}
#abou{
    /* background-color: red; */
    height: fit-content;
    margin-top: 5vw;
    padding: 2.3vw 30vw;
}
.ab h2{
    font-size: 5vw;
    font-family: "plain-light";
    text-transform: uppercase;
    text-decoration: underline;
}
.ab h3{
    font-size:5vw;
    font-family: "plain-light";
    text-transform: uppercase;
}
.ab h2:hover{
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
}